body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*Text*/
h1 {
    margin-bottom: 20px;
    color: #8f8f8f;
    letter-spacing: 5px;
}

.container {
    background-color: #242424;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;

}

.weather {
    margin-bottom: 20px;
    color: #9c9c9c;
    letter-spacing: 5px;
}

#weather {
    font-size: 18px;
    color: #9c9c9c;

}

/* phones */
@media only screen and (max-width: 480px) {
    .container {
        padding: 20px;
    }
}